# Entorno virtual
venv/
env/
.venv/
.env

# Archivos de Python compilados
__pycache__/
*.py[cod]
*.so

# Modelo de aprendizaje automatico
model_clasificator/

# Base de datos local
*.sqlite3

# Archivos de configuración local
#.env

# Archivos y carpetas de logs
*.log
*.pot

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de migración rotos (opcional)
*.pyc

# Carpeta del IDE/editor
.vscode/
.idea/

# Docker
docker-compose.override.yml

# Claves y certificados
*.pem